@page "/categories"

@inject HttpClient Http

<h3>List of Categories</h3>

@if (Categories == null)
{
    <p><em> Loading... </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Owner’s Name</th>
                <th>Manufacturer</th>
                <th>Weight From</th>
                <th>Weight To</th>
                <th>Icon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.CategoryName </td>
                    <td>@category.RangeFrom </td>
                    <td>@category.RangeTo </td>
                    <td> <span>@(new MarkupString(category.Icon))</span></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CategoryDetailsDto> Categories;

    protected override async Task OnInitializedAsync()
    {
        Categories = await Http.GetFromJsonAsync<List<CategoryDetailsDto>>("API/Category");
    }
}
